<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简单计算器</title>
</head>

<body>
    <div id="app">
        <h1>简单计算器</h1>
        <div>
            数值A：
            <input type="text" v-model="num1">
        </div>
        <div>
            数值B：
            <input type="text"v-model="num2">
        </div>
        <button v-on:click="handleSum" >计算</button>
        <div>{{'计算结果：'+result}}</div>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                num1:'',
                num2:'',
                result:''
            },
            methods: {
                handleSum:function(){
                    this.result = parseInt(this.num1) + parseInt(this.num2);
                }
            }
        })
    </script>
</body>

</html>